<!doctype html>
<html{% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% include "components/head.njk" %}

  <body>
    {% if section == "post" %}<div class="progress"><div class="bar" id="progressBar"></div></div>{% endif %}

    {% include "components/site-header.njk" %}

    <main>
      {{ layoutContent | safe }}
    </main>

    {% include "components/footer.njk" %}
  </body>

</html>
