---
layout: layouts/base.njk
section: project
---
<div class="page-container">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    {{title}}</h1>
    {% if tags %}
      <p class="tag-list">
        {% for tag in tags %}
          {%- if tag != "project" -%}
            {% set tagUrl %}/project-tags/{{ tag }}/{% endset %}
          <a class="project-card__tag tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
          {%- endif -%}
        {% endfor %}
      </p>
    {% endif %}
  <hr>
  {{ layoutContent | safe }}
  <p>
    <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
  </p>
  <nav>
    <a href="{{ '/projects/' | url }}">← View All Projects</a>
  </nav>
</div>